{% extends "layout.html" %}
{% block title %}New Quizz{% endblock %}
{% block body %}

	<h2>Add New Question</h2>

	<ol>
	<li>Provide URL to a CSV table to display</li>
	<li>Click on the answer cell to add a new question</li>
	</ol>

	<strong>Attention</strong>: the table has to provide sufficient information to answer the question!

	<p>

	<h2>Table:</h2>

	<form method="POST">
	  <input type="text" id="url" name="url" list="urls" size="70" value="https://www.wien.gv.at/finanzen/ogd/hunde-wien.csv"/>
	  <!-- datalist does not work in safari! tested in chrome -->
	  <datalist id="urls">
	    <option value="https://www.wien.gv.at/finanzen/ogd/hunde-wien.csv">
	    <option value="https://www.wien.gv.at/statistik/ogd/vie_101.csv">
	  </datalist>
	  <input type=submit value="Display table">
	</form>

	<p>
  
  {% include "partials/table.html" %}
  
{% endblock %}
